<% remote = false if remote == nil %>
<% id ||= Time.now.to_i %>


<%= form_with(model: curso, data: { turbo: remote  }, html: {class: 'form fv-plugins-bootstrap5 fv-plugins-framework'}) do |form| %>
    <%= hidden_field_tag :remote, remote %>
    <!-- Note: Para adicionar campo obrigatório é só adicionar a classe '.required' no label. -->
    <div class="card-body border-top p-9">
      <div class="row">
        <div class="col-lg-6 col-md-4 col-sm-12 ">
          <div class="form-group">
            <%= form.label :idioma, class: "form-label"  %>
            <%= form.text_field :idioma, class: "form-control form-control" %>
          </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12 ">
          <div class="form-group">
            <%= form.label :nivel, class: "form-label"  %>
            <%= form.number_field :nivel, class: "form-control form-control" %>
          </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12 ">
          <div class="form-group">
            <%= form.label :dia, class: "form-label"  %>
            <%= form.select :dia, Curso::DIAS, { include_blank: true }, class: "form-control form-control" %>
          </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12 ">
          <div class="form-group">
            <%= form.label :turno, class: "form-label"  %>
            <%= form.select :turno, Curso::TURNO, { include_blank: true }, class: "form-control form-control" %>
          </div>
        </div>
         <div class="col-lg-6 col-md-4 col-sm-12">
            <%= form.label :professor, class: "form-label"  %>
            <%= form.text_field :professor, class: "form-control form-control" %>
          </div>
        <div class="col-lg-6 col-md-4 col-sm-12 ">
          <div class="form-group">
            <%= form.label :valor, class: "form-label"  %>
            <div class="input-group">
              <span class="input-group-text">R$</span>
              <%= form.text_field :valor, class: "form-control form-control", id: "valor" %>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12 ">
          <div class="form-group">
            <%= form.label :parcelado, class: "form-label"  %>
            <div class="input-group">
              <span class="input-group-text">R$</span>
              <%= form.text_field :parcelado, class: "form-control form-control", id: "parcelado" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end py-6 px-9">
        <% unless remote %>
            <%= link_to "<i class='las la-arrow-left'></i> #{t("helpers.links.back")}".html_safe, cursos_path, :class=> "d-inline-block btn btn-secondary me-2" %>
        <% end %>
        <%= render "cursos/form_actions" %>
    </div>
<% end %>