<%- model_class = Curso -%>

<% resource ||= resource %>


<div class="row mb-7">
  
    <label class="col-lg-4 fw-semibold text-muted text-gray-800"><%= model_class.human_attribute_name(:idioma) %> </label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= resource.try(:idioma) %></span>
    </div>
  
</div>
<div class="row mb-7">
  
    <label class="col-lg-4 fw-semibold text-muted text-gray-800"><%= model_class.human_attribute_name(:nivel) %> </label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= resource.try(:nivel) %></span>
    </div>
  
</div>
<div class="row mb-7">
  
    <label class="col-lg-4 fw-semibold text-muted text-gray-800"><%= model_class.human_attribute_name(:dia) %> </label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= resource.try(:dia) %></span>
    </div>
  
</div>
<div class="row mb-7">
  
    <label class="col-lg-4 fw-semibold text-muted text-gray-800"><%= model_class.human_attribute_name(:turno) %> </label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= resource.try(:turno) %></span>
    </div>
  
</div>

<div class="row mb-7">
  
    <label class="col-lg-4 fw-semibold text-muted text-gray-800"><%= model_class.human_attribute_name(:professor) %> </label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= resource.try(:professor) %></span>
    </div>
  
</div>

<div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted text-gray-800"><%= model_class.human_attribute_name(:valor) %> </label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= resource.try(:valor).format if resource.try(:valor) %></span>
    </div>
</div>

<div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted text-gray-800"><%= model_class.human_attribute_name(:parcelado) %> </label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= resource.try(:parcelado).format if resource.try(:parcelado) %></span>
    </div>
</div>

<div class="row mb-7 mt-3">
  <%= render partial: "audits/table", locals: {audits: resource.try(:own_and_associated_audits), show_collapse: 'show'} %>
</div>

<div class="row mb-7 mt-3">
  <%= render partial: "inscricoes/table", locals: {curso_id: resource.id, show_collapse: 'show', remote: true} %>
</div>