<%- model_class=Inscricao -%>
<% remote ||= remote || params.try(:[], :remote) %>


<% content_for :page_title, t('helpers.titles.show', :model => model_class.model_name.human(count: 2).titleize) %>

<% content_for :breadcrumb do %>
    <li class="breadcrumb-item">
        <%= link_to model_class.model_name.human(count: 2).titleize, inscricoes_path, class: 'text-muted text-hover-primary' %>
    </li>
    <!--begin::Item-->
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <!--end::Item-->
    <li class="breadcrumb-item active" aria-current="page"><%= t('helpers.links.show') %></li>
<% end %>


<div class="card-body py-4">
  <% if remote == true || remote == 'true' %>
    <%= render "shared/remote_modal", 
        modal_class: "#{model_class.model_name.human.titleize}", 
        modal_title: t('helpers.titles.show', 
        :model=> model_class.model_name.human.titleize) do %>
          <%= render "show" , resource: @inscricao %>
    <%  end %>
  <% else %>
    <%= render "show" , resource: @inscricao %>
  <% end %>
</div>
<div class="card-footer d-flex justify-content-end py-6 px-9">
  <%= link_to inscricoes_path, :class=> "d-inline-block btn btn-secondary me-2" do  %>
    <i class="las la-arrow-left"></i> <%= t("helpers.links.back") %>
  <% end %>
  <%= render 'show_actions' , inscricao: @inscricao %>
</div>