<% remote = false if remote == nil %>
<% id ||= Time.now.to_i %>


<%= form_with(model: endereco, data: { turbo: remote  }, html: {class: 'form fv-plugins-bootstrap5 fv-plugins-framework'}) do |form| %>
    <%= hidden_field_tag :remote, remote %>
    <!-- Note: Para adicionar campo obrigatório é só adicionar a classe '.required' no label. -->
    <div class="card-body border-top p-9">
        <div class="row">
                            
                    
                        <div class="col-lg-6 col-md-4 col-sm-12 ">
                            <div class="form-group">
                                
                                    <%= form.label :cep, class: "form-label"  %>
                                    
                                        <%= form.text_field :cep, class: "form-control form-control-solid" %>
                                    
                                
                            </div>
                        </div>
                    
                
                            
                    
                        <div class="col-lg-6 col-md-4 col-sm-12 ">
                            <div class="form-group">
                                
                                    <%= form.label :logradouro, class: "form-label"  %>
                                    
                                        <%= form.text_field :logradouro, class: "form-control form-control-solid" %>
                                    
                                
                            </div>
                        </div>
                    
                
                            
                    
                        <div class="col-lg-6 col-md-4 col-sm-12 ">
                            <div class="form-group">
                                
                                    <%= form.label :numero, class: "form-label"  %>
                                    
                                        <%= form.text_field :numero, class: "form-control form-control-solid" %>
                                    
                                
                            </div>
                        </div>
                    
                
                            
                    
                        <div class="col-lg-6 col-md-4 col-sm-12 ">
                            <div class="form-group">
                                
                                    <%= form.label :bairro, class: "form-label"  %>
                                    
                                        <%= form.text_field :bairro, class: "form-control form-control-solid" %>
                                    
                                
                            </div>
                        </div>
                    
                
                            
                    
                
                            
                    
                        <div class="col-lg-6 col-md-4 col-sm-12 ">
                            <div class="form-group">
                                
                                    <%= form.label :estado_id, class: "form-label"  %>
                                    
                                        <%= form.collection_select :estado_id, Estado.all, :id, :nome, {include_blank: true, include_hidden: false}, class: "form-select form-select-solid" , style: "width: 100%" %>
                                    
                                
                            </div>
                        </div>
                    
                
                            
                    
                        <div class="col-lg-6 col-md-4 col-sm-12 ">
                            <div class="form-group">
                                
                                    <%= form.label :cidade_id, class: "form-label"  %>
                                    
                                        <%= form.collection_select :cidade_id, Cidade.all, :id, :nome, {include_blank: true, include_hidden: false}, class: "form-select form-select-solid" , style: "width: 100%" %>
                                    
                                
                            </div>
                        </div>
                    
                
            
        </div>
    </div>
    <div class="card-footer d-flex justify-content-end py-6 px-9">
        <% unless remote %>
            <%= link_to "<i class='las la-arrow-left'></i> #{t("helpers.links.back")}".html_safe, enderecos_path, :class=> "d-inline-block btn btn-secondary me-2" %>
        <% end %>
        <%= render "enderecos/form_actions" %>
    </div>
<% end %>