<!DOCTYPE html>
<html>
  <head>
    <title>Nupel Mossoró</title>
    <meta name="description" content="" />
		<meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta property="og:locale" content="" />
		<meta property="og:type" content="" />
		<meta property="og:title" content="" />
		<meta property="og:url" content="" />
		<meta property="og:site_name" content="" />
		<link rel="canonical" href="" />
		<link rel="shortcut icon" href="<%= asset_path 'mini-logo.ico' %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--begin::Fonts(mandatory for all pages)-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
   
		<!--end::Fonts-->
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Carregar Script`s somento do template metronic -->
		<script>var hostUrl = "assets/";</script>
    <%= javascript_include_tag 'metronic', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body id="kt_app_body" data-kt-app-layout="light-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
    <!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
		<!--end::Theme mode setup on page load-->

    <!--begin::App-->
		<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
      <!--begin::Page-->
			<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
        <%= render "layouts/partials/header" %>
        <!--begin::Wrapper-->
				<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
          <%= render "layouts/partials/sidebar" %>
          <!--begin::Main-->
					<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
            <%= yield %>
            <%= turbo_frame_tag "remote_modal", target: "_top" %>
          </div>
            <%= render "layouts/partials/footer" %>
					<!--end:::Main-->
        </div>
				<!--end::Wrapper-->
      </div>
			<!--end::Page-->
    </div>
    <%= render "layouts/partials/scrolltop" %>    

    <%= render "shared/notificacao" %>
  </body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-masker/1.1.0/vanilla-masker.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function(){
    var valor = document.getElementById('valor');
    VMasker(valor).maskMoney({precision: 2, separator: ',', delimiter: '.'});
  });
</script>